.scrollable-tags {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  background-color: #f5f5f5;
  scrollbar-width: thin; /* For Firefox */
}

.scrollable-tags::-webkit-scrollbar {
  height: 8px;
}

.scrollable-tags::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.scrollable-tags::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.scrollable-tags > * {
  flex-shrink: 0;
}
